*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 10px;
    margin: 0px;
    background-color: azure;
}
p {
    font-family: Roboto, arial, sans-serif;
    font-size: 21px;
    color: #222;
}
.sideButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}
.leftButtons{
    display: flex;
    width: fit-content;
    margin-left: 30px;
}
.leftButtons:hover{
    text-decoration: underline;
    cursor: pointer;
}
.rightButtons{
    display: flex;
    width: fit-content;
    cursor: pointer;
    margin-right: 30px;
}
.rightButtonsLink:hover{
    text-decoration: underline;
}
#googleBar{
    display: flex;
    position: relative;
    height: 80px;
    min-width: 100%;
    top: 0px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px gray;
}
#profilePic{
    border-radius: 50%;
    width: 48px;
}
#apps{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: #5f6368;
    visibility: visible;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#apps:hover{
    background-color: hsla(0, 0%, 50%, 20%);
}


